@import "bootstrap-sprockets";
@import "bootstrap";

$custom-violet-dark: #4d177d;
$custom-violet: #704597;
$custom-violet-light: #b7a2cb;
$custom-violet-super-light: #dbd0e5;

.operation-panel {
  margin-bottom: 0px !important;
}

.pagination {
  margin: 10px 0 !important;
}

.pagination > li > a, .pagination > li > span {
  color: $custom-violet-dark !important;
}

.pagination > .active > span{
  background-color: $custom-violet-dark !important;
  border-color: $custom-violet-dark !important;
  color: $custom-violet-super-light !important;
}

.navbar.navbar-default {
  background: $custom-violet-dark;

  .navbar-brand{
    color: $custom-violet-super-light;
    font-weight: bold;
    font-size: 20px;
    
    &:hover, &:focus {
      color: $custom-violet-super-light;
    }  
  }  

  .nav {
    a.active {
      background: $custom-violet;
    }

    > li > a {
      color: $custom-violet-super-light;
      font-weight: bold;
      font-size: 15px;
      
      &:hover, &:focus {
        background: $custom-violet;
        color: $custom-violet-super-light;
      }  
    }
  }
}

.form-control:focus {
  border-color: $custom-violet-dark !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(110, 34, 180, 0.6) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(110, 34, 180, 0.6) !important;
}  

.alert.alert-info {
  color: $custom-violet-dark;
  background: $custom-violet-super-light;
  border: $custom-violet-light;
}

.custom-btn {
  @include button-variant($custom-violet-super-light, $custom-violet-dark, $custom-violet-dark);

  &:hover, &:focus, &:active {
    background: $custom-violet;
    color: $custom-violet-super-light !important;
  }  
}

.custom-btn-lighter {
  @include button-variant($custom-violet-super-light, $custom-violet, $custom-violet);

  &:hover, &:focus, &:active {
    background: $custom-violet-dark;
    color: $custom-violet-super-light !important;
  }  
}

.panel-default > .panel-heading {
  background: $custom-violet !important;
  color: $custom-violet-super-light !important;
  font-weight: bold;
}

.panel-default > .panel-body {
    background: $custom-violet-super-light !important;
}

.panel-default > .panel-footer {
    background: $custom-violet-super-light !important;
}

.modal-header {
  background: $custom-violet;
  color: $custom-violet-light;
  font-weight: bold;
}

.modal-body {
  background: $custom-violet-super-light;
}
  
.modal-footer {
  background: $custom-violet-super-light;
}
  
.horizontal-form {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
   
.title {
  font-weight: bold;
}

.jumbotron {
  color: $custom-violet-dark !important;
  background-color: $custom-violet-super-light !important;
}

.bootstrap-table .table {
  border-bottom: 1px solid $custom-violet-super-light !important;
}

.fixed-table-container {
  border: 1px solid $custom-violet-super-light !important;
}

.fixed-table-footer {
  border-top: 1px solid $custom-violet-super-light !important;
}

.fixed-table-container thead th {
  border-left: 1px solid $custom-violet-super-light !important;
}
.fixed-table-container tbody td {
  border-left: 1px solid $custom-violet-super-light !important;
}

.incoming_amount {
  color: #006600;
  font-weight: bold;
}

.expense_amount {
  color: #FF0000;
  font-weight: bold;
}

.wday-0 {
  background-color: #FFc4c4
}

.wday-6 {
  background-color: #eeeeee;
}

.simple-calendar .next-month {
  background: #bbbbbb !important;
}

.calendar-title {
  font-weight: bold;
  font-size: 18px;
}

.center {
  text-align: center;
}